[Unit]
Description=Cipo - Crypto in, Power out

[Service]
Type=simple
User=cipo
WorkingDirectory="~"
Environment="RUST_LOG=cipo"
ExecStart=/usr/bin/cipo

[Install]
WantedBy=multi-user.target
